.main-chat
  .group
    .group__info
      .group__info__name
        = @group.name
      %ul.group__info__member
        Member :
        .group__info__member--list
        - @group.users.each do |user|
          = user.name
    .group__edit
      = link_to edit_group_path(@group.id) , class: "edit-btn" do
        Edit
        
  .message
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form__new
        .form-input
          = f.text_field :body, class: "form-input__message", placeholder: "type a message"
          = f.label :image, class: "form-input__image" do
            = icon('fas','image')
            = f.file_field :image, class: "form-input__image--file"
        = f.submit "Send", class: "submit-btn"