.side-bar
  .header
    .header__box
      .header__box__name
        = current_user.name
      .header__box__icon
        .header__box__icon--new
          = link_to  new_group_path, class: "header__box__icon--btn" do
            = icon('far', 'edit')
        .header__box__icon--cog
          = link_to edit_user_path(current_user) ,class: "header__box__icon--btn" do
            =icon('fa', 'cog')
  .group
    .group__list
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) ,class: "group__list--list" do
          .group__list__name
            = group.name
          .group__list__message
            = group.show_last_message